<section class="contact_section layout_padding-bottom">
    <div class="container-fluid">
        <div class="col-lg-4 col-md-5 offset-md-1">
            <div class="heading_container">
                <h2>
                    Bize Ulaşın
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-5 offset-md-1">
                <div class="form_container">
                    <form action="">
                        <div>
                            <input type="text" placeholder="Adınız" />
                        </div>
                        <div>
                            <input type="text" placeholder="Telefon Numaranız" />
                        </div>
                        <div>
                            <input type="email" placeholder="Email Adresiniz" />
                        </div>
                        <div>
                            <input type="text" class="message-box" placeholder="Mesajınız" />
                        </div>
                        <div class="btn_box">
                            <button>
                                GÖNDER
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 px-0">
                <div class="map_container">
                    <div class="map">
                        <div id="googleMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
