@using EntityLayer.Concrete
@model List<Service>



<section id="hizmetler" class="service_section layout_padding">
    <div class="service_container">
        <div class="container ">
            <div class="heading_container">
                <h2>
                    HİZMETLER
                </h2>
                <p>
                    SUDUĞUMUZ HİZMETLER
                </p>
            </div>
            
            <div class="row">
                @foreach (var item in Model)
                {
                <div class="col-md-6 col-lg-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="@item.ImageUrl" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                @item.Title
                            </h5>
                            <p>
                                @item.Description
                            </p>
                        </div>
                    </div>
                </div>
                }

              
            </div>
            
        </div>
    </div>
</section>
