@using EntityLayer.Concrete
@model List<Service>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Hizmetler</h6>
                </div>
            </div>
            
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Başlık</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Resim</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Açıklama</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sil</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Düzenle</th>                               
                            </tr>
                        </thead>
                        
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                
                                <td class="align-middle text-center">
                                        <span class="text-xs font-weight-bold mb-0">@item.ServiceID</span>
                                    </td>
                                <td>
                                        <span class="text-xs font-weight-bold mb-0">@item.Title</span>
                                    </td>
                                <td>
                                    <span class="text-xs font-weight-bold mb-0">@item.ImageUrl</span>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="text-secondary text-xs font-weight-bold">@item.Description</span>
                                </td>
                                <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold"><a class="btn btn-danger" href="/Service/DeleteService/@item.ServiceID">Sil</a></span>
                                </td>
                                <td class="align-middle">
                                    <span class="text-secondary text-xs font-weight-bold"><a class="btn btn-warning" href="/Service/EditService/@item.ServiceID">Düzenle</a></span>
                                </td>
                            </tr>
                            }
                            
                        </tbody>                     
                    </table>
                    <div>
                        <a href="/Service/AddService/" class="btn btn-success" style="margin-left:50px;">Yeni Hizmet Ekle</a>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>